<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897603116021-a01qftra1ckhtfbh5ra5mrbdl7lgrpa7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897603116021-a01qftra1ckhtfbh5ra5mrbdl7lgrpa7</string>
	<key>API_KEY</key>
	<string>AIzaSyAAGmpmBF0Lb-HweWy2gZ9OItu3avisKWI</string>
	<key>GCM_SENDER_ID</key>
	<string>897603116021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AGROEX</string>
	<key>PROJECT_ID</key>
	<string>agroex-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>agroex-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897603116021:ios:fc12d0368ea1edd2ec9ebc</string>
</dict>
</plist>